<div class="col-xs-6 col-md-3">
  <div class="thumbnail ">
    <%index = @photos.index(photo) %>
    <%= link_to image_tag(photo.img.versions[:standard].url), "##{index}", data: {toggle: "modal"} %>
    <div class="caption photo">
      <p><%= simple_format photo.caption %></p>

      <hr class="photo">
      <h4 class="text-right">
        <% if photo.is_owner?(current_user)%>
          <%= link_to gallery_photo_path(@gallery, photo), method: "delete", title: "Delete", class: "btn btn-danger btn btn-sm", data: {confirm: "are you sure you want to remove this photo?"} do%>
             <i class="glyphicon glyphicon-remove"></i>
          <% end %>
        <% end %>
        <%= link_to '#', title: "share", class: "btn btn-info btn-sm" do%>
          <i class="glyphicon glyphicon-share"></i>
        <% end %>
      </h4>
    </div>
  </div>
</div>

<!-- gallery_photo_path(photo.galleries.first, photo) -->


<!-- Modal -->
<div class="modal fade" id=<%= index %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= photo.caption %></h4>
      </div>
      <div class="modal-body">
        <%= image_tag(photo.img.url, class: "img-responsive") %>
      </div>
      <div class="modal-footer">
          <ul class="pager">
            <li><%= link_to "Previous", "##{index-1}", data: {toggle: "modal", dismiss: "modal"} %></li>
            <li><%= link_to "Next", "##{index+1}", data: {toggle: "modal", dismiss: "modal"} %></li>
          </ul>
      </div>

    </div>
  </div>
</div>
