<div class="jumbotron">
  <div class="row">
    <% message = current_user ? "Welcome to " : "Introducing "%>
    <h1><%= message %><em>Captured</em></h1>
    <p>A place for all your photo galleries</p>
    <p class="text-right">ALL YOUR GALLARY ARE MINE!</p>
    <p>
      <% if current_user%>
        <%= link_to "Your Galleries", user_path(current_user), role: "button", class: "btn btn-primary btn-lg" %>
        <%= link_to "Browse Users", users_path, role: "button", class: "btn btn-success btn-lg" %>

      <% else %>
        <%= link_to "Sign In", login_path, role: "button", class: "btn btn-primary btn-lg" %>
        <%= link_to "Sign Up", new_user_path, role: "button", class: "btn btn-success btn-lg" %>
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <h1 class="text-center">Galleries</h1>
  <hr>
</div>
<div class="row">
  <%= render @galleries %>
</div>
