<div class="row text-center">
  <h1><%= @gallery.name %> </h1>
  <p class="text-muted">by <%= link_to @gallery.user.username, @gallery.user %></p>
</div>
  <hr>
<div class="row actions">

  <%= render "share", locals: {url: gallery_shares_path(@gallery), icon: false} %>

  <% if @gallery.is_owner?(current_user) %>

    <%= link_to  new_gallery_photo_path(@gallery), title: "New Photo", class: "btn btn-success btn-sm" do%>
       <i class="glyphicon glyphicon-plus"></i> Add Photo
    <% end %>

    <%= link_to gallery_path(@gallery), method: "delete", title: "Delete", class: "btn btn-danger btn btn-sm", data: {confirm: "are you sure you want to delete this gallery?"} do%>
       <i class="glyphicon glyphicon-remove"></i> Delete Gallery
    <% end %>

  <% end %>
</div>

<div class="row">
  <%= render @photos %>
</div>
