<!DOCTYPE html>
<html>
  <head>
    <title>Captured</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "navbar" %>
    <div class="container">

      <%= yield %>

    </div>
    <footer>
      <div class="container-fluid">
        <div class="col-xs-6">

        </div>
        <div class="col-xs-6">
          <p class="text-right">
            This is an <em>awesome</em> footer.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
